# Ignore all files with a .log extension
*.log

# Ignore a specific file
my_secret_file.txt

# Ignore all folders named .vs
.vs/

# Ignore all .vsidx files
*.vsidx

# Ignore node_modules directory in a Node.js project
node_modules/

# Ignore the build directory
build/

# Ignore files in the .idea folder (used by JetBrains IDEs)
.idea/

